.app--space-theme {
  background: url(../assets/images/background.jpg);
}

.heading--h1 {
  width: 960px;
  color: #FFFFFF;
  font-family: Geomanist;
  font-size: 64px;
  line-height: 75px;
  padding: 25px 0 25px 0;
  text-align: center;
}

.flights__grid {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.84) 32.59%, #C2C2C2 100%);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.453012);
  box-shadow: 0 2px 130px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  grid-template-columns: 100px 100px 100px 100px minmax(100px, auto) 100px 100px;
  margin: 0 auto;
  width: 960px;
}


.flights__line {
  height: 2px;

  mix-blend-mode: normal;
  opacity: 0.26;
  border: 2px solid #141C3A;
}

.share-text {
  width: 80px;
  height: 35px;

  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 100px;
}

.header .share {
  width: 52.53px;
  height: 15.15px;

  font-family: Geomanist;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #FFFFFF;
}

.header .id {
  width: 52.53px;
  height: 36px;

  font-family: Geomanist;
  font-size: 17px;
  line-height: 20px;
  text-align: center;

  color: #043D67;
}

.header .article {
  width: 52.53px;
  height: 36px;

  font-family: Geomanist;
  font-size: 17px;
  line-height: 20px;
  text-align: center;

  color: #043D67;
}

.header .badge {
  width: 52.53px;
  height: 36px;

  font-family: Geomanist;
  font-size: 17px;
  line-height: 20px;

  color: #043D67;
}

.header .rocket-name {
  width: 102.55px;
  height: 36px;

  font-family: Geomanist;
  font-size: 17px;
  line-height: 20px;

  color: #043D67;
}

.header .launch-date {
  width: 102.55px;
  height: 36px;

  font-family: Geomanist;
  font-size: 17px;
  line-height: 20px;

  color: #043D67;
}

.header .details {
  width: 102.55px;
  height: 36px;

  font-family: Geomanist;
  font-size: 17px;
  line-height: 20px;

  color: #043D67;
}

.header .rocket-type {
  width: 102.55px;
  height: 36px;

  font-family: Geomanist;
  font-size: 17px;
  line-height: 20px;

  color: #043D67;
}

.header .land-success {
  width: 102.55px;
  height: 15.15px;

  font-family: Geomanist;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #FFFFFF;
}

.header .x {
  width: 9.95px;
  height: 17.24px;

  font-family: Geomanist;
  font-size: 19px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: right;

  color: #16B3FF;
}

.vertical-line {
  width: 2px;
  height: 24px;

  border: 2px solid #FFFFFF;
}

.row {
  width: 956px;
  height: 77.27px;
}

.row__link {
  width: 21px;
  height: 21px;
}

.row__shape {
  width: 20.58px;
  height: 20.81px;

  background: #444444;
}

.row__path {
  width: 13.95px;
  height: 15.26px;

  background: #DADADA;
}

.row__rocket-name {
  width: 102.59px;
  height: 20.96px;

  font-family: Geomanist;
  font-size: 15px;
  line-height: 18px;

  color: #444444;
}

.row__rocket-type {
  width: 102.59px;
  height: 20.96px;

  font-family: Geomanist;
  font-size: 15px;
  line-height: 18px;

  color: #444444;
}

.row__x {
  width: 33.23px;
  height: 20.96px;

  font-family: Geomanist;
  font-size: 15px;
  line-height: 18px;

  color: #444444;
}

.row__launch-date {
  width: 102.59px;
  height: 20.96px;

  font-family: Geomanist;
  font-size: 15px;
  line-height: 18px;

  color: #444444;
}

.row__details {
  width: 326.22px;
  height: 20.96px;

  font-family: Geomanist;
  font-size: 15px;
  line-height: 18px;

  color: #444444;
}

.row__line-4 {
  width: 956px;
  height: 2.27px;

  border: 1px solid #FFFFFF;
}

.row__placeholder {
  width: 86.09px;
  height: 65.13px;

  background: url(../assets/images/placeholder.png);
}

.refresh-group {
  width: 35px;
  height: 36px;
}

.refresh-group .oval {
  width: 34.72px;
  height: 35.48px;

  border: 2px solid #FFFFFF;
  box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.186481);
}

.refresh-group .refresh {
  width: 21px;
  height: 21px;
}

.refresh-group .shape {
  width: 13.79px;
  height: 19.3px;

  background: #FFFFFF;
}

.refresh-group .path {
  width: 10.34px;
  height: 13.39px;

  background: #DADADA;
}

.refresh-group .path {
  width: 10.34px;
  height: 13.39px;

  background: #DADADA;
}

.refresh-group .shape {
  width: 20.43px;
  height: 20.87px;
}

.filter-group {
  width: 34.72px;
  height: 35.48px;
}

.filter-group .oval {
  width: 34.72px;
  height: 35.48px;

  border: 2px solid #FFFFFF;
  box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.186481);
}

.filter-group .line {
  width: 4.6px;
  height: 2px;

  border: 2px solid #EDEDED;
}

.filter-group .line {
  width: 12.26px;
  height: 2px;

  border: 2px solid #EDEDED;
}

.filter-group .line {
  width: 19.91px;
  height: 2px;

  border: 2px solid #EDEDED;
}